cdk-virtual-scroll-viewport {
    height: calc(100vh - (64px + 64px));
  
    width: 100%;
  
    background-color: #EEF2F7;
  }
  @media only screen and (max-device-width: 960px) {
    cdk-virtual-scroll-viewport {
      height: calc(100vh - (56px + 56px));
    }
  }

  /**very large mobile (tablets) view rules*/
@media only screen 
and (min-device-width: 769px) 
and (max-device-width: 960px) { 
  mat-sidenav {
      width: 30%;
  }

  div.cdk-virtual-scroll-content-wrapper {
    position: inherit; /**not working*/
  }

  mat-card {
    width: 70%;
  }
}

:host() ::ng-deep cdk-virtual-scroll-viewport .cdk-virtual-scroll-content-wrapper { /** https://stackoverflow.com/a/59205966 */
    width: -moz-available !important;
    width: -webkit-fill-available !important;
  }

  
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }