<!-- <example-custom-stepper>
    <cdk-step> <p>This is any content of "Step 1"</p> </cdk-step>
    <cdk-step> <p>This is any content of "Step 2"</p> </cdk-step>
</example-custom-stepper> -->
  
<p>Most of the time, I try to work but don't do as much as I want.</p>

<!-- 
 -->
    <mat-divider></mat-divider>

<div id="parent" class="center">
    <section>
        <form>
            <div id="questions">
                  <mat-card *ngFor="let question of questions;  index as i">
                    <mat-card-title>Question {{i + 1}}</mat-card-title>
                    <mat-card-content [ngSwitch]="question.type">
                        <div *ngSwitchCase="'multiple-choice'">
                            <label>{{question.question}}</label>
                            
                            <div class="a-checkbox-group">
                                <mat-checkbox *ngFor="let answer of question.answers; index as i" class="a-checkbox-group-button" [formControl]="hideRequiredControl">{{answer}}</mat-checkbox>
                                
                            </div>
                        </div>

                        <div *ngSwitchCase="'single-choice'">
                            <label>{{question.question}}</label>
                            
                            <mat-radio-group 
                            [formControl]="floatLabelControl"
                            class="a-radio-group"
                            >
                              <mat-radio-button *ngFor="let answer of question.answers; index as i" class="a-radio-group-button" value="auto">{{answer}}</mat-radio-button>
                            </mat-radio-group>
                        </div>

                        <div *ngSwitchCase="'fill-blanks'">
                            <p>
                                <span *ngFor="let question_part of question.question.split('_'); index as i; last as isLast">
                                    {{ question_part }}
                                    <mat-form-field appearance="legacy" *ngIf="!isLast">
                                        <input matInput placeholder="*****">
                                        <mat-hint>Fill in the blank</mat-hint>
                                      </mat-form-field>
                                </span>
                                
                              </p>
                        </div>


                        
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-raised-button color="primary"><mat-icon aria-hidden="false" aria-label="Example home icon">flag</mat-icon> Flag</button>
                    </mat-card-actions>
                    </mat-card>
            </div>
        </form>

            
          
    </section>
    
    <section>
        <mat-card>
            <mat-card-title>
                Questions Pallete
            </mat-card-title>
            <mat-card-subtitle>
                Some stats. like answered questions, flaged questions, etc.
            </mat-card-subtitle>
            <mat-card-content>
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip>One fish</mat-chip>
                    <mat-chip>Two fish</mat-chip>
                    <mat-chip color="primary" selected>Primary fish</mat-chip>
                    <mat-chip color="accent" selected>Accent fish</mat-chip>
                  </mat-chip-list>
            </mat-card-content>
        </mat-card>
    </section>

</div>
