<!-- <example-custom-stepper>
    <cdk-step> <p>This is any content of "Step 1"</p> </cdk-step>
    <cdk-step> <p>This is any content of "Step 2"</p> </cdk-step>
</example-custom-stepper> -->
  
<p>Most of the time, I try to work but don't do as much as I want.</p>

<!-- 
 -->
    <mat-divider></mat-divider>

<div id="parent" class="center">
    <section>
        <form>
            <div id="questions">
                <mat-card>
                    <mat-card-title>Question 32</mat-card-title>
                    <mat-card-content>
                        <div>
                            <label>What is the name of your school's gateman if any? </label>
                            <mat-radio-group 
                            [formControl]="floatLabelControl"
                            class="a-radio-group"
                            >
                              <mat-radio-button class="a-radio-group-button" value="auto">Auto</mat-radio-button>
                              <mat-radio-button class="a-radio-group-button" value="always">Always</mat-radio-button>
                            </mat-radio-group>
                          </div>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-raised-button color="primary"><mat-icon aria-hidden="false" aria-label="Example home icon">flag</mat-icon> Flag</button>
                    </mat-card-actions>
                    </mat-card>
                
                    <mat-card>
                        <mat-card-title>Question 52</mat-card-title>
                        <mat-card-content>
                            <div>
                                <label>What is the name of your school's gateman if any? </label>
                                
                                <div class="a-checkbox-group">
                                    <mat-checkbox class="a-checkbox-group-button" [formControl]="hideRequiredControl">Hide required marker</mat-checkbox>
                                    <mat-checkbox class="a-checkbox-group-button" [formControl]="hideRequiredControl">Hide required marker</mat-checkbox>
                                    <mat-checkbox class="a-checkbox-group-button" [formControl]="hideRequiredControl">Hide required marker</mat-checkbox>
                                    <mat-checkbox class="a-checkbox-group-button" [formControl]="hideRequiredControl">Hide required marker</mat-checkbox>
                                </div>
                              </div>
                            
                        </mat-card-content>
                        <mat-card-actions align="end">
                            <button mat-raised-button color="primary"><mat-icon aria-hidden="false" aria-label="Example home icon">flag</mat-icon> Flag</button>
                        </mat-card-actions>
                        </mat-card>
                
                        <mat-card>
                    <mat-card-title>Question 98</mat-card-title>
                    <mat-card-subtitle>
                        What is the name of your school's gateman if any?
                    </mat-card-subtitle>
                    <mat-card-content>
                        <p>
                            This is a paragragph, and you should
                            <mat-form-field appearance="legacy">
                              <mat-label></mat-label>
                              <input matInput placeholder="*****">
                              <mat-hint>Fill in the blank</mat-hint>
                            </mat-form-field>
                            in the
                            <mat-form-field appearance="legacy">
                                <mat-label></mat-label>
                                <input matInput placeholder="***">
                                <mat-hint>Fill in the blank</mat-hint>
                              </mat-form-field>
                          </p>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-raised-button color="primary"><mat-icon aria-hidden="false" aria-label="Flag icon. Click to flag this question">flag</mat-icon> Flag</button>
                    </mat-card-actions>
                    </mat-card>

              <mat-card *ngFor="let item of items">
                  <mat-card-title>Question {{item}}</mat-card-title>
                  <mat-card-subtitle>
                      What is the name of your school's gateman if any?
                  </mat-card-subtitle>
                  <mat-card-actions align="end">
                      <button mat-raised-button color="primary"><mat-icon aria-hidden="false" aria-label="Flag icon. Click to flag this question">flag</mat-icon> Flag</button>
                  </mat-card-actions>
                  </mat-card>
            </div>
        </form>

            
          
    </section>
    
    <section>
        <mat-card>
            <mat-card-title>
                Questions Pallete
            </mat-card-title>
            <mat-card-subtitle>
                Some stats. like answered questions, flaged questions, etc.
            </mat-card-subtitle>
            <mat-card-content>
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip>One fish</mat-chip>
                    <mat-chip>Two fish</mat-chip>
                    <mat-chip color="primary" selected>Primary fish</mat-chip>
                    <mat-chip color="accent" selected>Accent fish</mat-chip>
                  </mat-chip-list>
            </mat-card-content>
        </mat-card>
    </section>

</div>
