div#parent {
  display: flex;
  align-items: flex-start;
}

#parent section {
  padding: 30px;
}

  @media only screen and (max-device-width: 960px) {
   
  }

  /**very large mobile (tablets) view rules*/
@media only screen 
and (min-device-width: 769px) 
and (max-device-width: 960px) { 
  
}

:host() ::ng-deep  { /** https://stackoverflow.com/a/59205966 */
    width: -moz-available !important;
    width: -webkit-fill-available !important;
  }

  
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .a-radio-group, .a-checkbox-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

  .a-radio-group-button, .a-checkbox-group-button {
    margin: 5px;
  }

  #questions > mat-card {
    margin-bottom: 20px;
  }
  #questions label {
    font-size: large;
  }